* {
    padding: 0;
    margin: 0;
}

section[id] {
    scroll-margin-top: 60px;
  }

body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
}

.navfija{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5B9ACD;
    z-index: 300;
}

.navfija .logo{
    margin-left: 20px;
}

.navfija .iconomenu{
    display: none;
}

.navfija .opciones a{
    text-decoration: none;
    font-size: 20px;
    color:#FFFFFF;  
    padding: 15px 15px;
}

.navfija .registro a{
    margin-right: 40px;
    background-color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 9px;
    border:none;
    color:#5B9ACD;
}

.principal{
    height: 100%;
    position: relative;
    z-index: -10;
}

.bloque1 .fondo{
    /*position: relative;*/
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 85vh;
    /*background-image: url("./img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    margin-bottom: 0px;
}

.bloque1 .logoblanco{
    position: absolute;
    right: -40px;
    top: -150px;
    width: 400px;
    height: 400px;
}

.bloque1 .mensaje{
    position: absolute;
    border-radius: 9px;
    background-color: rgba(68,159,223,0.2);
    margin-left: 50px;
    bottom: 150px;
    width: 500px;
    height: 200px;
    padding: 20px;
}

.bloque1 .mensaje h2{
    margin-left: 20px;
    font-size: 40px;
    color: #FFFFFF;
}

.bloque1 .mensaje p{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.bloque1 .mensaje button{
    margin-left: 20px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: #5B9ACD;
}



.tendencias{
    height: 800px;
    font-size: 30px;
    text-align: center;
    color: #5B9ACD;
}

.tendenciascontenedor{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px ;
}
.tendenciasbloque1{
    width: 900px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tendenciasbloque1 .tarjetas1{
    width: 440px;
    height: 400px;
}

.tendenciasbloque1 .tarjetas1 img{
    width: 100%;
    height: 100%;
}

.tendenciasbloque1 .tarjetas2{
    width: 440px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 0;
}

.tendenciasbloque1 .tarjetas2 .tarjetas2a{
    width: 440px;
    height: 190px;
}

.tendenciasbloque1 .tarjetas2 .tarjetas2a img{ 
    width: 100%;
    height: 100%;
}

.tendenciasbloque1 .tarjetas2 .tarjetas2b{
    width: 440px;
    height: 190px;
}

.tendenciasbloque1 .tarjetas2 .tarjetas2b img{ 
    width: 100%;
    height: 100%;
}

.tendenciasbloque2{
    width: 900px;
    height: 200px;
}

.tendenciasbloque2 img{
    width: 100%;
    height: 100%;
}


.tendenciasbloque2 .position{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -58%);
}

.tendenciasbloque2 .carrusel {
	background-image: url("./img/ray-bantendencias.png");
	background-size: cover;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	animation: animate 6s infinite;
}

@keyframes animate {
	25% {background-image: url("./img/pradatendencias.webp");}
	50% {background-image: url("./img/Oakleytendencias.jpg");}
	75% {background-image: url("./img/tommyhilfigertendencias.jpg");}
	100% {background-image: url("./img/ray-bantendencias.png");}
}


.monturas{
    height: 800px;
    font-size: 30px;
    text-align: center;
    margin-left: 120px;
    color: #5B9ACD;
}
.monturas .estmonturas {
    margin-bottom: 20px;
}

.monturas h2{
    text-align: left;
    margin-left: 150px;
    margin-bottom: 30px;
}
.monturas .estmonturas h3{
    font-size: 20px;
    margin-left: 160px;
    text-align: left;
}

.monturas .estmonturas img{
    height: 160px;
}


.cristales{
    height: 800px;
    font-size: 30px;
    text-align: center;
    color: #5B9ACD;
    margin: auto;
}

.cristales img{
    width: 80%;
}

.nosotros{
    margin: auto;
    display: block;
    height: 800px;
    width: 100%;
}
.nosotros .imgnosotros img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 960px) {
    
    .navfija .logo{
        margin-left: 5px;
    }
    .navfija .opciones a{
        font-size: 15px;
        padding: 5px 5px;
    }

    .navfija .registro a{
        margin-right: 15px;
        font-size: 15px;
        font-weight:normal;
        padding: 5px;
    }

    .bloque1 .logoblanco{
        right: -10px;
        top: -100px;
        width: 350px;
        height: 350px;
    }
    
    .bloque1 .mensaje{
        margin-left: 50px;
        bottom: 150px;
        width: 400px;
        height: 180px;
        padding: 15px;
    }

    .bloque1 .mensaje h2{
        margin-left: 10px;
        font-size: 30px;
    }
    
    .bloque1 .mensaje p{
        font-size: 15px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    .bloque1 .mensaje button{
        margin-left: 10px;
        font-size: 14px;
        padding: 10px 10px;
    }
    
    .tendencias{
        font-size: 20px;
        text-align: center;
    }
    
    .tendenciascontenedor{
        width: 100%;
        height: 75%;
        gap: 5px;
    }
    .tendenciasbloque1{
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    
    .tendenciasbloque1 .tarjetas1{
        width: 340px;
        height: 300px;
    }
    
    .tendenciasbloque1 .tarjetas1 img{
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque1 .tarjetas2{
        width: 340px;
        height: 300px;
        gap:5px;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2a{
        width: 340px;
        height: 145px;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2a img{ 
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2b{
        width: 340px;
        height: 145px;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2b img{ 
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque2{
        width: 680px;
        height: 350px;
        top: 5px;
    }
    
    .tendenciasbloque2 img{
        width: 100%;
        height: 100%;
    }
    
    
    .tendenciasbloque2 .position{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -58%);
    }
    
    .tendenciasbloque2 .carrusel {
        background-image: url("./img/ray-bantendencias.png");
        background-size: cover;
        height: 90%;
        width: 100%;
        animation: animate 6s infinite;
    }
    
    @keyframes animate {
        25% {background-image: url("./img/pradatendencias.webp");}
        50% {background-image: url("./img/Oakleytendencias.jpg");}
        75% {background-image: url("./img/tommyhilfigertendencias.jpg");}
        100% {background-image: url("./img/ray-bantendencias.png");}
    }
    
    
.monturas{
    height: 750px;
    font-size: 20px;
    margin-left: 40px;
}
.monturas .estmonturas {
    margin-bottom: 15px;
}

.monturas h2{
    margin-left: 80px;
    margin-bottom: 20px;
}
.monturas .estmonturas h3{
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.monturas .estmonturas img{
    width: 90%;
    height: 70%;
}

.cristales{
    display: inline-block;
    height: 800px;
    font-size: 25px;
}

.cristales img{
    width: 75%;
}


.nosotros{
    height:600px;
    width: 100%;
}
.nosotros .imgnosotros{
    width: 100%;
    height: 100%;
}

}

@media screen and (max-width: 680px) {
    
    .navfija .iconomenu{
        margin-left: 3px;
        display: inline;
    }
    .navfija .opciones a{
        display:none;
    }

    .navfija .registro a{
        margin-right: 15px;
        font-size: 15px;
        font-weight:normal;
        padding: 5px;
    }

    .bloque1 .logoblanco{
        right: -10px;
        top: -90px;
        width: 300px;
        height: 300px;
    }
    
    .bloque1 .mensaje{
        margin-left: 30px;
        bottom: 130px;
        width: 300px;
        height: 150px;
        padding: 10px;
    }

    .bloque1 .mensaje h2{
        margin-left: 6px;
        font-size: 25px;
    }
    
    .bloque1 .mensaje p{
        font-size: 14px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    
    .bloque1 .mensaje button{
        margin-left: 10px;
        font-size: 13px;
        padding: 9px 9px;
    }
    
    .tendencias{
        font-size: 15px;
        text-align: center;
    }
    
    .tendenciascontenedor{
        width: 100%;
        height: 65%;
        gap: 4px;
    }

    .tendenciasbloque1{
        width: 85%;
        height: 85%;
        gap: 8px;
    }
    .tendenciasbloque1 .tarjetas1{
        width: 300px;
        height: 280px;
    }
    
    .tendenciasbloque1 .tarjetas1 img{
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque1 .tarjetas2{
        width: 300px;
        height: 280px;
        gap:5px;
        margin-top: 0;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2a{
        width: 300px;
        height: 135px;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2a img{ 
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2b{
        width: 300px;
        height: 135px;
    }
    
    .tendenciasbloque1 .tarjetas2 .tarjetas2b img{ 
        width: 100%;
        height: 100%;
    }
    
    .tendenciasbloque2{
        width: 550px;
        height: 130px;
    }
    
    .tendenciasbloque2 img{
        width: 100%;
        height: 100%;
    }
        
    .tendenciasbloque2 .position{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -58%);
    }
    
    .tendenciasbloque2 .carrusel {
        background-image: url("./img/ray-bantendencias.png");
        background-size: cover;
        height: 95%;
        width: 98%;
        border-radius: 10px;
        animation: animate 6s infinite;
    }
    
    @keyframes animate {
        25% {background-image: url("./img/pradatendencias.webp");}
        50% {background-image: url("./img/Oakleytendencias.jpg");}
        75% {background-image: url("./img/tommyhilfigertendencias.jpg");}
        100% {background-image: url("./img/ray-bantendencias.png");}
    }
    
    .monturas{
        height: 450px;
        font-size: 15px;
        margin-left: 30px;
    }
    .monturas .estmonturas {
        margin-bottom: 15px;
    }
    
    .monturas h2{
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .monturas .estmonturas h3{
        font-size: 14px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    
    .monturas .estmonturas img{
        width: 80%;
        height: 60%;
    }
    

    .cristales{
        height: 800px;
        font-size: 20px;
    }
    
    .cristales img{
        width: 65%;
    }
    
    
    .nosotros{
        height:550px;
        width: 100%;
    }
    .nosotros .imgnosotros{
        width: 100%;
        height: 100%;
    }

}
